.container {
    width: 1000px;
    margin-top: -180px;
    max-width: 100%;
    padding: 60px 20px;
}

@media (max-width: 991px) {
    .container {
        width: 100%;
        margin-top: unset;
        
    }
}



.container-tiles {
    width: 400px;
    max-width: 100%;
    padding: 70px 50px;
}

@media (max-width: 991px) {
    .container-tiles {
        width: 300px;
        max-width: 100%;
        padding: 20px 15px;
    }
}

.container-contact {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .container-contact {
    width: 100%;
    }
}
