.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-content: center;
  margin-top: 80px;
  margin-bottom: 180px;
}

@media (max-width: 991px) {
  .gallery {
    flex-direction: column;
    margin: 0 auto;
  }
}

.gallery-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    flex: 1 0 auto;
    margin: 3px;
    border-radius: 2px;
}

@media (max-width: 991px) {
  .gallery-image {
    width: 300px;
    height: 300px;
  }
}
