.main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  width: 100%!important;
  max-width: 100%;
}

@media (max-width: 991px) {
  .main-navigation {
    position: unset;
    background: #333333;
    padding: 30px;
  }
}

.main-navigation__logo-image {
  width: 120px;
  margin-left: -20px;
}

@media (max-width: 991px) {
  .main-navigation__logo-image {
    width: 140px;
    margin-left: 50%;
  }
}

.main-navigation__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
}

.main-navigation__logo-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 35px;
}

.main-navigation__menu {
  display: flex;
  margin: 0;
  list-style: none;
  transition: 0.5s;
  transition-property: opacity, transform;
}

@media (max-width: 991px) {
  .main-navigation__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    background: #ffffff;
    opacity: 0;
    pointer-events: none;
    z-index: 111;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .main-navigation__menu--open {
    opacity: 1;
    pointer-events: unset;
    transform: unset;
  }
}

.main-navigation__mobile-button-back {
  display: none;
}

@media (max-width: 991px) {
  .main-navigation__mobile-button-back {
    display: inline-block;
    background: none;
    border: none;
    padding: 15px;
    border-right: 1px solid #d9d9d9;
    width: 50px;
  }
}



.main-navigation__menu-item {
  margin-left: 45px;
  z-index: 111111111111;
}

@media (max-width: 1199px) {
  .main-navigation__menu-item {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .main-navigation__menu-item {
    border-bottom: 1px solid #d9d9d9;
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px;
  }
}

.main-navigation__menu-item:hover {
  border-bottom: 2px solid white;
  margin-bottom: -5px;
}

@media (max-width: 991px) {
  .main-navigation__menu-item:hover {
    border-bottom: unset!important;
    margin-bottom: unset!important;
  }
}

.main-navigation__link {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

@media (max-width: 991px) {
  .main-navigation__link {
    color: #888888;
    margin-left: 10px;
    font-family: 'Arial', sans-serif;
  }
}

.main-navigation__mobile-button {
  display: none;
}

@media (max-width: 991px) {
  .main-navigation__mobile-button {
    display: unset;
    background: none;
    border: none;
  }
}

@media (max-width: 991px) {
  .main-navigation__mobile-button-image {
    width: 25px;
    display: block;
    opacity: 0.5;
  }
}

@media (max-width: 991px) {
.main-navigation__mobile-wrapper {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}
}

.main-navigation__mobile-text {
  display: none;
}

@media (max-width: 991px) {
.main-navigation__mobile-text {
  left:25%;
  width:50%;
  position:absolute;
  text-align:center;
  top: 2%;
  display: inline-block;
  color: #888888;
}
}

.main-navigation__mobile-button-back-image {
  display: none;
}

@media (max-width: 991px) {
  .main-navigation__mobile-button-back-image {
    width: 11px;
    display: inline-block;
    opacity: 1;
  }
}