.main-banner {
  background: url("/background.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 100%!important;
  max-width: 100%;
}

@media (max-width: 991px) {
  .main-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/background.jpg");
  }
}

.main-banner__header {
  z-index: 1;
  text-align: center;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

@media (max-width: 767px) {
  .main-banner__header {
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .main-banner__header {
    padding: 0;
    margin: 0 auto;
  }
}

.main-banner__header-text {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .main-banner__header-text {
    margin-top: -150px;
  }
}

@media (max-width: 767px) {
  .main-banner__header-text {
    font-size: 45px;
  }
}

@media (max-width: 320px) {
  .main-banner__header-text {
    font-size: 40px;
    margin-top: unset;
  }
}

@media (max-height: 520px) {
  .main-banner__header-text {
    margin-top: 20px;
  }
}

.main-banner__header-description {
  margin-left: 150px;
  margin-right: 150px;
}

@media (max-width: 767px) {
  .main-banner__header-description {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 320px) {
  .main-banner__header-description {
    margin-top: -25px;
  }
}

.main-banner__header-text-description {
  line-height: 2;
  margin-bottom: 70px;
}

@media (max-width: 320px) {
  .main-banner__header-text-description {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .main-banner__header-text-description {
    line-height: 1.7;
    font-size: 16px !important;
  }
}

@media (max-width: 991px) {
  .main-banner__header-text-description {
    font-size: 22px;
  }
}

.main-banner__button {
  border: 2px solid #fb414e;
  border-radius: 2px;
  padding: 13px 40px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
  background: rgba(0, 0, 0, 0);
  margin-left: 20px;
}

.main-banner__button:first-child {
  background: #fb414e;
}

@media (max-width: 767px) {
  .main-banner__button {
    font-size: 15px;
    padding: 13px 30px;
    margin-left: 15px;
  }
}

@media (max-width: 354px) {
  .main-banner__button-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
  }
  .main-banner__button {
    margin-top: 15px;
  }
}

.main-banner__button:hover {
  background: #fb414e;
  transition: 0.7s;
}

.main-banner__button:first-child:hover {
  background: rgba(0, 0, 0, 0);
  transition: 0.7s;
}
